.popup__save-button_disabled {
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  opacity: .4;
  /* pointer-events: none; */
  user-select: none;
}

.popup__save-button_disabled:hover {
  cursor: not-allowed;
}