.popup__button-save {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  border: 0;
  padding: 0;
  margin: 48px 0 0 36px;
  width: 358px;
  height: 50px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 2px;
  transition: opacity ease-in-out 0.3s;
}

.popup__button-save:hover {
  transition: opacity ease-in-out 0.3s;
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .popup__button-save {
    margin-top: 45px;
    margin-left: 22px;
    width: 238px;
    height: 46px;
  }
}