.header {
  position: relative;
  max-width: 880px;
  min-height: 74px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

.header::before {
  width: 142px;
  height: 33px;
  position: absolute;
  top: 45px;
  left: 0;
  content: "";
  background-image: url(../../images/Mesto_logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 900px) {
  .header {
    max-width: 100%;
    min-height: 56px;
    padding-top: 28px;
  }

  .header::before {
    width: 131px;
    height: 30px;
    margin-left: 27px;
    top: 28px;
  }
}
