.popup__error_visible {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  margin-left: 36px;
  padding: 0;
  display: block;
  width: 358px;
  color: #FF0000;
  position: absolute;
  bottom: -35px;
  left: 0;
}

@media screen and (max-width: 560px) {
  .popup__error_visible {
    font-size: 10px;
    margin-left: 22px;
    width: 238px;
    bottom: -10px;
  }
}