.popup__error_visible {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  margin-left: 36px;
  margin-top: 5px;
  padding: 0;
  display: block;
  width: 358px;
  color: #FF0000;
}